#include <behaviors.dtsi>
#include <behaviors/jpkeysforuslayout.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/led/led.h>

/*
 * Corne v2 RGB data is on Pro Micro D1.
 * Original BLE Micro Pro maps Pro Micro D1 -> nRF52840 P0.08.
 * Corne v2 uses 27 SK6812MINI LEDs per half.
 *
 * Lighting is controlled by the runtime Corne Lighting engine and My ZMK
 * Studio. The old RGB behavior row on Lower is intentionally transparent so
 * standard ZMK underglow cannot race the custom animation engine.
 *
 * jpkeysforuslayout keeps US physical punctuation semantics when the host is
 * using a Japanese/JIS keyboard layout.
 *
 * ZMK Studio:
 *   - left/central firmware is built with studio-rpc-usb-uart
 *   - Lower + far-right home-row key = &studio_unlock
 *   - Extra 1..6 reserve editable layer slots for Studio layer add/remove testing
 */

&pinctrl {
    corne_rgb_spi3_default: corne_rgb_spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 8)>;
        };
    };

    corne_rgb_spi3_sleep: corne_rgb_spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 8)>;
            low-power-enable;
        };
    };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";

    pinctrl-0 = <&corne_rgb_spi3_default>;
    pinctrl-1 = <&corne_rgb_spi3_sleep>;
    pinctrl-names = "default", "sleep";

    corne_led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <27>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};

/ {
    chosen {
        zmk,underglow = &corne_led_strip;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T        &kp Y      &kp U      &kp I      &kp O      &kp P                 &kp BSPC
                &kp LCTRL  &kp A      &kp S      &kp D      &kp F      &kp G        &kp H      &kp J      &kp K      &kp L      &jp_semicoloncolon      &jp_quotedquote
                &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B        &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH               &kp ESC
                                             &kp LGUI  &mo 1  &kp SPACE           &kp RET  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
                &kp TAB       &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &kp BSPC
                &bt BT_CLR    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &trans          &studio_unlock
                &trans        &trans        &trans        &trans        &trans        &trans          &trans          &trans          &trans          &trans          &trans          &trans
                                                    &kp LGUI  &trans  &kp SPACE                    &kp RET  &trans  &kp RALT
            >;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
                &kp TAB    &kp EXCL   &jp_at     &kp HASH   &kp DLLR   &kp PRCNT     &jp_caret       &jp_amp         &jp_aster          &jp_lpar          &jp_rpar          &kp BSPC
                &kp LCTRL  &trans     &trans     &trans     &trans     &trans        &jp_minusunder  &jp_equalplus   &jp_lbracelbrkt    &jp_rbracerbrkt   &jp_yenpipe       &jp_baqttilde
                &kp LSHFT  &trans     &trans     &trans     &trans     &trans        &jp_under       &jp_plus        &jp_lbrace         &jp_rbrace        &jp_pipe          &jp_tilde
                                             &kp LGUI  &trans  &kp SPACE            &kp RET  &trans  &kp RALT
            >;
        };

        studio_extra_1 {
            status = "disabled";
            display-name = "Extra 1";
            bindings = <
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                              &trans &trans &trans           &trans &trans &trans
            >;
        };

        studio_extra_2 {
            status = "disabled";
            display-name = "Extra 2";
            bindings = <
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                              &trans &trans &trans           &trans &trans &trans
            >;
        };

        studio_extra_3 {
            status = "disabled";
            display-name = "Extra 3";
            bindings = <
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                              &trans &trans &trans           &trans &trans &trans
            >;
        };

        studio_extra_4 {
            status = "disabled";
            display-name = "Extra 4";
            bindings = <
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                              &trans &trans &trans           &trans &trans &trans
            >;
        };

        studio_extra_5 {
            status = "disabled";
            display-name = "Extra 5";
            bindings = <
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                              &trans &trans &trans           &trans &trans &trans
            >;
        };

        studio_extra_6 {
            status = "disabled";
            display-name = "Extra 6";
            bindings = <
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                              &trans &trans &trans           &trans &trans &trans
            >;
        };
    };
};
