# SPDX-License-Identifier: MIT

if BOARD_BLE_MICRO_PRO

config BOARD
    default "ble_micro_pro"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_BLE_MICRO_PRO
